footer {
    
        .make-xs-column(12);
    
    a{
        background-color: transparent;
        color: @black;
            font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    text-decoration: none;
    }
    .footer-menu {
        .make-xs-column(6);
        .make-sm-column(1);
       @media(min-width:768px){
            width: 14%;
        }
        ul {
            li {
                &.menu-item-has-children{
                    font-weight: bold;
                    a{
                        cursor: default;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    ul {
                        li {
                            font-weight: normal;
                            a{
                                cursor: pointer;
                            }
                        }
                    }
                }

            }

        }
    }
}