footer {
        background: url(assets/images/bg_footer-home.gif) 0 0 repeat-x;
        .make-xs-column(12);
        padding-top: 20px;padding-left: 12%;
    
    a{
        background-color: transparent;
        color: @black;
            font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    text-decoration: none;
    }
    .copyright{
        font-size: 10px;
        text-align: center;
        padding-top: 20px;
        clear: both;
    }
    .current_page_item{
        background-color: transparent;
    }
    .footer-menu {
        .make-xs-column(12);
        .make-sm-column(12);
        text-align: center;
       @media(min-width:768px){
        text-align: left;
            width: 12%;
        }
        ul {
            li {
                &.menu-item-has-children{
                    font-weight: bold;
                    a{
                        cursor: default;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    ul {
                        li {
                            font-weight: normal;
                            a{
                                cursor: pointer;
                            }
                        }
                    }
                }

            }

        }
    }
}