header.main {
    clear:both;
    .make-xs-column(12);
    display: block;
    float: none;
    overflow: hidden;
    @media(min-width:@screen-md-min){
        .make-md-column(10);
        float: none!important;
        margin: auto;
    }
    
}

.main-header__wrap{
    .make-xs-column(12);
    .element-reset(0px, 0px);
    padding-bottom: 5px;
    border-bottom: solid 1px @orange;
    @media(min-width:@screen-md-min){
        border-bottom: none;
    }
    .main-header__logo{
        .make-xs-column(2);
        .element-reset(0px, 0px);
        padding-top: 10px;
        @media(min-width:@screen-md-min){

            display: inline-block;
            .make-md-column(2);
            float: left;

        }
        img {
            max-width: 100%;
            max-height: 60px;
            margin: 0 auto;
            display: block;

            @media(min-width:@screen-md-min){
                max-height: 110px;
            }
        }
    }
    .make-xs-column(12);
    h1 {
        .make-xs-column(8);
        text-align: center;
        font-family: @bodyfont;

        color: #cc6c30;
        font-size: 28px;
        font-weight: normal;
        .element-reset(0px, 0px);
        padding-top: 24px;
        @media(min-width:@screen-sm-min){
        }
        @media(min-width:@screen-md-min){
            .make-md-column(8);
            font-size: 60px;
            margin-bottom: 0;
            text-align: left;
            float: left;
            padding-left: 50px;
            padding-bottom: 25px;
            
        }
        @media(min-width:@screen-lg-min){
            font-size: 72px;
            
        }

    }
    .main-header__utility{
        display: none;
        @media(min-width:@screen-md-min){
            display: inline-block;
        float: right;
        background-image: url('assets/images/contact-us-bg.png');
        background-repeat: no-repeat;
        width: 90px;
        
        height: 100px;
        }
        a{
            color: @white;
            font-weight: bold;
            display: block;
            text-align: center;
            text-decoration: underline;
            font-size: 11px;
        }
    }
}

.main-header__mobile-nav-trigger{
    .make-xs-column(2);
    padding-top: 30px;
   // .make-xs-column-offset(6);
    span {
        height: 4px;
        background-color: @orange;
        width: 100%;
        display: block;
        margin-bottom: 3px;
        &:first-of-type{
            -webkit-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
        }
        &:last-of-type{
            -webkit-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
        }
    }
    @media(min-width:@screen-md-min){
        display: none;
    }

    &.show-nav {
        span:first-of-type {
            transform: rotate(45deg) translateX(5px);
            -webkit-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
        }
        span:nth-of-type(2){
            display: none;
        }
        span:last-of-type {
            transform: rotate(-45deg) translateX(5px);
            -webkit-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
        }
    }
}
section.main-header__primary-wrap{
    display: none;
    width: 100vw;
    clear: both;
    background-image: url('assets/images/bg_mainnav.gif');
    @media(min-width:@screen-md-min){
        display: block;
    }
   // overflow: hidden;
}
nav.main-header__primary{
    
@media(min-width:@screen-sm-min){
    font-size: 12px;
}

    //.make-xs-column(12);
    @media(min-width:@screen-md-min){
        //.make-md-column(11);
        position: static;
        .element-reset(0px, 0px);
        float: none!important;
        margin: auto;
    }
    @media(min-width:@screen-lg-min){
        float: none!important;
        margin: auto;
        .make-lg-column(10);

    }
 
    ul {
         
        &:extend(.nav);
        @media(min-width:@screen-md-min){
               //  .make-md-column(11);
            float: none!important;
            


        }
        @media(min-width:@screen-lg-min){
            
            .element-reset(0px, 0px);
            margin-left: 20px;
        }
        li {
        
            list-style-type: none;
            text-align: center;
            display: block;
            background-color: @orange;
             @media(min-width:@screen-md-min){
                 width:14%;
                 float: left;
                border-left: solid 1px white;
                
            }

            &.current-menu-parent{
                background-color: @lt-orange;
            }
            &.one-line{
                padding: 6px 0px 6px 0px;
                & > ul {
                    margin-top: 6px;
                }
            }
            &.keep-flat a{
                padding: 10px 12px; 
            }
            &:first-of-type {
                 @media(min-width:@screen-md-min){
                
                    border-left: none;
                
                }
            }
            &.menu-item-type-custom > a{
                cursor: default;
                text-decoration: none;
            }
            a{
                color: @white;
                padding: 10px 20px;
                display: block;
                line-height: 12px;
            }
            &:hover > ul {
                @media(min-width:@screen-md-min){
                    left: auto;
                    padding: 10px 20px;
                    width: 170px;
                    background-color: @lt-orange;
                    opacity: 0.9;
                }
            }
            &:hover > ul li{ //hover
               
                
            }
            ul { 

                @media(min-width:@screen-md-min){
                    //dropdown
                    position: absolute;
                    z-index: 999999;
                    left: -99999px;
                    margin-left: 0px;

                }
                li {
                    width: 100%;
                    
                    @media(min-width:@screen-md-min){
                    display: block;
                    border: none;
                    float: none;
                    text-align: left;
                    padding-left: 10px;
                    background-color: transparent;
                    }
                    a{
                        .element-reset(0px, 0px);
                        padding: 5px 0px;
                        cursor: pointer;
                        background-color: @white;
                        color: @orange;
                        border-bottom: solid 1px @lt-orange;
                        @media(min-width:@screen-md-min){
                            border-bottom: solid 1px @orange;
                            background-color: @lt-orange;
                            color: @white;
                            padding: 10px 0px;
                        }

                    }

                }
            }
        }
    }
}


.current_page_item, .current_page_parent {
    background-color: @lt-orange;
}


.show-nav {
    display: block!important;
}