

.products__wrap{
    .make-xs-column(12);
    .make-md-column(10);
    float: none!important;
    margin: 0 auto;


    .products__content {
        .make-xs-column(12);
        @media(min-width:@screen-md-min){
            .make-md-column(9);
            padding-top: 40px;
        }

        h1 {
            color: @pink;
            font-family: @bodyfont;
            font-weight: normal;
            font-size: 24px;
            .element-reset(0px, 0px);
        }
        h3 {
            color: @pink;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
        }
        table {
            &:extend(.table);
            border: solid 1px @pink;

        }
        thead {
            border-bottom: solid 1px @pink;
        }
        tr td:first-child{font-weight: bold;}

        td {
            border-right: solid 1px @pink;
            padding: 1px 8px;
        }

        img {
            height: auto;
            padding: 0px 8px;
              .make-xs-column(12);
            .make-md-column(4);
        }

        .panel-group{
            clear: both;
        }
    }
}




 img {

    }
    .product__description{
        float: right;
        max-width: 60%;
    }

.panel-group {
    h4{
        a{
            color: @pink;
            font-weight: normal;
        }
    }
}