@white: #ffffff;
@black: #000000;
@lt-orange: #F2B268;
@orange: #cc6c30;
@bodyfont: 'Arial', 'Helvetica', sans-serif;

.button(){
    background: none repeat scroll 0 0 #cc6c30;
    cursor: pointer;
    line-height: 26px;
    padding: 5px;
    min-width: 84px;
    color: white;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
}

.element-reset(@padding, @margin){
    padding: @padding;
    margin: @margin;
}